.Login {
  display: flex;
  justify-content: center;
  align-items: center;

  .whole-box {
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;

    .container {
      width: 400px;
      height: 500px;
      border: 1px solid #DBDBDB;
      background-color: #FFFFFF;

      #logo-holder {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #login-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .formcontainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 10px 10px 5px 5px;
          width: 70%;

          .login-form-field {
            margin-bottom: 10px;
            font-size: 14px;
            padding: 10px;
            border-radius: 3px;
            border: 1px solid #DBDBDB;
            width: 300px;
            background-color: #FAFAFA;
            color: #8E8E8E;
            line-height: 18px;
          }





          .not-ready-to-submit {
            width: 300px;
            background-color: #B2DFFC;
            font-size: 15px;
            padding: 10px;
            border-radius: 3px;
            color: white;
            font-weight: bold;
            border: none;
            cursor: pointer;
            text-align: center;
            text-shadow: none;
          }

          .ready-to-submit {
            width: 300px;
            background-color: #3B5998;
            font-size: 15px;
            padding: 10px;
            border-radius: 3px;
            color: white;
            font-weight: bold;
            border: none;
            cursor: pointer;
            text-align: center;
            text-shadow: none;
          }

        }



      }


      .linkContainer {
        display: flex;
        justify-content: center;
        align-self: flex-end;
        padding-top: 130px;

        .forgotPW {
          text-decoration: none;
          color: #385185;
          font-family: 'Open Sans', sans-serif;
        }
      }
    }
  }
}